@charset "utf-8";
/* CSS Document */
body{
    margin: 0;
    width: 130px;
    height: 200px;
    font-family: Segoe UI;
/*    font-family: Segoe UI; */
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
	color:#FFF;
}
#main{
    width: 130px;		
	height:200px;
	font-size:9px;
    margin: 0px;
    overflow: hidden;
}

#header{
/*	background:url(../images/sab2_32.png) no-repeat; */
	font-size:10px;
	font-weight:bold;
	height:35px;
	width:125px;
	text-align:right;
	padding:3px;
	margin-left:4px;
	text-decoration:none;
	color:#FFF;
	white-space:nowrap;

}
#speed{
	text-decoration:none;
	color:#FFF;
	font-size:13px;
	font-weight:normal;
	padding-top:2px;
	margin-left:10px;
}


#gadgetContent{
	font-size:12px;
}

#queue{
	font-size:9px;
	padding-top:2px;
	margin-left:1px;
	width:128px;
	height:144px;
	text-decoration:none;
	color:#FFF;

}

#queue_title{
	width:125px;
	text-align:left;
	font-weight:bold;
	font-size:10px;
	margin:0px 0px 2px 3px;
	text-decoration:none;
	color:#FFF;

}


.p_{
	height:26px;
	width:130px;
}
.p_bar{
	height:10px;
	width:120px;
	position:absolute;
	margin-left:3px;
}
.p_text{
	height:12px;
	width:126px;
	position:absolute;
	text-align:center;
	color:#000;
	text-decoration:none;

}
.p_filename{
	height:10px;
	width:125px;
	font-size:9px;
	font-family:Segoe UI;
	font-weight:normal;
	padding-top:10px;
	padding-right:1px;
	vertical-align:baseline;
	text-align:center;
	color:#FFF;
	white-space: nowrap;

}

#status{
	height:30px;
	width:130px;
	text-align:center;
	vertical-align:center;
	font-size:12;
	font-weight:bold;
	position:absolute;
	
}

#debugGadget{
	width:600px;
	height:700px;
	font-size:10px;
}
